
#buttonNew {
    margin-bottom: 10px;
}

.tab-content {
    border: 0px;
    margin: auto;
}

.helpClass {
    margin: 0 auto;
    width: 60%;
}

.helpP {
    font-size: 16px;
}

#appHelp {
    margin: 0 auto;
    width: 80%;
}

.wysiwyg-toolbar.btn-toolbar.center.wysiwyg-style2 {
    height: 40px;
}

.wysiwyg-editor {
    min-height:50%;
    max-height: 90%;
    height: 400px;
}